.box {
    max-width: 1320px;
    margin: 0 auto;
}
h1 {
    font-size: 46px;
    font-family: helvetica;
}
button {
    color: #767676;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
}